/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*common*/
body {
    font-family: "Rubik Mono One";
}

/*section*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    color: yellow;
    text-align: center;
    font-size: 50px;
}

#rosso {
    background-color: red;
}

#verde {
    background-color: green;
}

#giallo {
    background-color: yellow;
}